<!DOCTYPE html> <html lang="en">

<head>
    <meta charset="UTF-8"> <title> Clustor | Load Balance </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3; url=/redirect"/>
    <link rel="stylesheet" href="./uikit.css">

</head>

<body class="uk-background-dark uk-height-expand uk-gap-2xsmall
             uk-flex uk-flex-middle uk-flex-center uk-flex-column">
    <h1> ¡Hi there! - Welcome to Clustor </h1>
    <h3 class="uk-text-neutral"> You are been redirected through our load balancer </h3>
    <h4 class="uk-text-neutral"> Wait few seconds </h4>
</body>

</html>
